{% extends 'ticket/operador/base.html' %}
{% block title %}Detalles del ticket{% endblock %}
{% block tickets_active %}active{% endblock %}
{% block mis_tickets_active %}active {% endblock %}

{% block body %}
<div class="container-fluid songs-container">

    <div class="row">

        <!-- Left Album Info -->
        {% include 'ticket/elementos/detalles_ticket.html' %}
        {% block detalles_ticket %}
        {% endblock detalles_ticket %}

        <!-- Right Song Info -->
        <div class="col-sm-8 col-md-9">

            <ul class="nav nav-pills" style="margin-bottom: 10px;">
                <li role="presentation" class="active"><a href="{% url 'ticket:detail' ticket.id %}">Ver todo</a></li>
                <li role="presentation" class="active"><a href="{% url 'ticket:create_text_data' ticket.id %}">Agregar observacion</a></li>
                <li role="presentation" class="active"><a href="{% url 'ticket:create_file_data' ticket.id %}">Agregar archivo</a></li>

            </ul>

        {% include 'ticket/elementos/data_ticket.html' %}
        {% block data_ticket %}
        {% endblock data_ticket %}

        </div>

    </div>

    {% include 'ticket/elementos/vinculos_ticket.html' %}
    {% block vinculos_ticket %}
    {% endblock vinculos_ticket %}

</div>

{% endblock %}
