<!DOCTYPE html>
<html lang="en" ng-app="ticketApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Tickets existentes</title>

    <link rel="stylesheet" href="https://bootswatch.com/darkly/bootstrap.min.css">
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="/ticketController.js"></script>

</head>
<body ng-controller="TicketController">

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Inicio</a>
        </div>
    </div>
</nav>
<div class="container">
    <h1>Lista de Tickets</h1>
    <table class="table">
        <thead>
        <tr>
            <th> ID </th>
            <th> Asunto </th>
            <th> Comentario </th>
            <th> Prioridad </th>
            <th> Clasificacion </th>
            <th> Estado </th>
        </tr>
        </thead>
        <tbody ng-repeat="ticket in tickets">
        <tr>
            <td>{{ticket.id}}</td>
            <td>{{ticket.asunto}} </td>
            <td>{{ticket.comentario}}</td>
            <td>{{ticket.prioridad}}</td>
            <td>{{ticket.clasificacion}}</td>
            <td>{{ticket.estado}}</td>
 <!--           <td>
                <form action="/modificar" method="POST">
                    <input type="hidden" value="{{user.id}}" name="id">
                    <input type="submit" value="Modificar" class="btn btn-warning btn-xs">
                </form>
                <form action="/usuarios" method="POST">
                    <input type="hidden" value="{{user.id}}" name="id">
                    <input type="submit" value="Ver actividad" class="btn btn-warning btn-xs">
                </form>
                <button ng-click="delete(user.id)" class="btn btn-danger btn-xs">
                    Eliminar
                </button>

            </td>-->
        </tr>
        </tbody>
    </table>
    <form action="/" method="GET">
        <button type="submit" class="btn btn-primary">Volver</button>
    </form>
</div>
</body>
</html>